/*
 HSL
 $color1: hsla(290%, 61%, 35%, 1); roxo max
 $color2: hsla(291%, 27%, 51%, 1); roxo claro
 $color3: hsla(244%, 16%, 65%, 1); azul-cinza
 $color4: hsla(201%, 25%, 70%, 1); azul-cinza claro
 $color5: hsla(153%, 86%, 81%, 1); azul esverdeado
 
 RGB 
$color1: rgba(128, 35, 146, 1); roxo max
$color2: rgba(153, 95, 163, 1); roxo claro
$color3: rgba(154, 152, 181, 1); azul-cinza
$color4: rgba(160, 185, 198, 1); azul-cinza claro
$color5: rgba(165, 248, 211, 1);  azul esverdeado

fonts
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(128, 35, 146, 1);
}

body {
    color: #343434;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;   
}

header {
    background-color: rgba(128, 35, 146, 1);
    padding: 10px 0;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header .logo a{
    color: inherit;
}

header .wrapper .menu {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}

header .wrapper .menu-item {
    /* float: left; */
}

header .wrapper .menu-item a {
    border-radius: 3px;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

header .wrapper .menu-item:hover a {
    color: rgba(128, 35, 146, 1);
    background-color: white;
}
#noticias {
    /* background:black; */
    display:flex;
    flex-direction:row;

}
#noticias .coluna {
    width:50%;
    padding:0 10px;
}
#noticias .coluna.md {
    width:25%;
}
#noticias .coluna + .coluna {
    border-left: 1px solid ;

}
#noticias .noticia-coluna {
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    border-top:1px solid rgba(128, 35, 146, 1);
    padding:20px 0;
}
#noticias .noticia-coluna .noticia-item{
    width:30%;
    margin-bottom:0px;
}
#noticias .noticia-item{
    margin-bottom:20px;
}

#noticias .noticia-item img{
    width:100%;
}
#noticias .duas-colunas{
    display:flex;
    flex-direction:row;
}
#noticias .noticia-item ul{
}
#noticias .noticia-item li{
    /* list-style:disc; */
    padding-left: 20px;
    position: relative;
}
#noticias .noticia-item li:after {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: rgba(128, 35, 146, 1);
    position: absolute;
    top: 5px;
    left: 5px;

}
#noticias .noticia-item li a{
    font-weight:normal;
}
.wrapper table {
    margin: 10px auto;
    border-collapse: collapse;
}
.wrapper table:hover {
    /* animation: shaketable 5s infinite linear; */
    animation: shaketable 3s infinite linear;
}
.wrapper .tabela th ,
.wrapper .tabela td , 
.wrapper .tabela {
    /* border: 1px solid black; */
}
.wrapper .tabela th ,
.wrapper .tabela td {
    /* vertical-align: top; */
    /* height: 50px; */
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-radius 0.5s ease-in-out;
}
.wrapper .tabela tr:nth-child(even){
    background-color: #f2f2f2
}
/* .wrapper .tabela tr:hover th {
    background-color: gold;
    border-radius: 10px;
}
.wrapper .tabela tr:hover td {
    color: white;
    background-color: gold;
    border-radius: 10px;
    
} */
.wrapper .tabela tr:hover th,
.wrapper .tabela tr:hover td {
    color: white;
    background-color: gold;
}
.wrapper .tabela tr:hover th:first-child,
.wrapper .tabela tr:hover td:first-child {
    border-radius: 10px 0 0 0px;

}
.wrapper .tabela tr:hover th:last-child,
.wrapper .tabela tr:hover td:last-child {
    border-radius: 0px 10px 0 0px;
}
@keyframes shaketable {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(100px, 0px);

    }
    75% {
        transform: translate(-100px, 0px);
    }
}